<h1>Results of all games <b>{{favTeam}}</b> Played this Season  </h1>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Team</th>
        <th scope="col">Opp</th>
        <th scope="col">Venue</th>
        <th scope="col">Result</th>
      </tr>
    </thead>
    <!-- {{dataSource | json}} -->
    <tbody>
      <tr *ngFor="let data of dataSource">
        <th scope="row">{{data.id}}</th>
        <td>{{data.ateam}}</td>
        <td>{{data.hteam}}</td>
        <td>{{data.venue}}</td>
        <td>{{data.winner}}</td>
      </tr>
    </tbody>
  </table>